.app.dark {
    background-color: #111;
    color: rgb(156, 156, 156);
  
    .chartGrid {
      stroke: rgba(228, 228, 228, 0.219);
    }
  
    .table {
      background-color: #111;
  
      .tableCell {
        color: gray;
      }
    }
    .charts{
        .bottom{
            div{
                background-color: #52515133;
                color: #fff;
            }
        }
        .link{
            a{
                color: #fff;
            }
        }
    }
    .navbar {
      color: #999;
      border-color: #333;
  
      .search {
        border-color: gray;
      }
    }
  
    .sidebar {
      background-color: #111;
      border-color: #333;
  
      .top {
        .logo {
          color: #999;
        }
      }
      hr {
        border-color: #333;
      }
  
      ul {
        li {
          &:hover {
            background-color: #333;
          }
  
          .icon {
            color: #999;
          }
        }
      }
    }
    .featured{
      p{
        color: #999;  
      }
    }
    .datatable {
      .MuiDataGrid-root {
        color: gray;
        border: none;
  
      }
    }
  
    input{
        background-color: transparent;
    }

    table{
      background-color: #111;
      thead{
        tr{
          th{
            color: gray;
          }
        }
      }
      tbody{
        tr{
          td{
            color: gray;
          }
        }
      }
    }

    .modify{
      .modifyContainer{
        .bottom{
          .formcontent{
            form{
              .formInput{
                input{
                  color: white!important;
                }
              }
            }
          }
        }
      }
    }

  .datatableTitleSinglePayment{
    background-color: #111;

  }
  .MuiPaper-root{
    background-color: #111;

  }
}


